@import services.Documentation
@(documentation: Documentation)

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Docster - @documentation.representation.name</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    </head>
</html>
<body>

    <main class="container">

        <section id="overview">
            <h1 id="overview-title" class="page-header">@documentation.representation.name Resource</h1>
        </section>


        <div class="representation">
        @representationSection(documentation.representation)
        </div>

        <div class="request">

            <h2 id="request-title">Original Request</h2>

            <section class="panel-group">

                <div class="request-header panel panel-default">
                    <div class="panel-heading">Header</div>
                    <div class="panel-body">
                        <ul>
                            <ol>Method: @documentation.proxyRequest.method</ol>
                            <ol>URI: <a href="@documentation.proxyRequest.uri">@documentation.proxyRequest.uri</a></ol>
                            @for(header <- documentation.proxyRequest.simpleHeaderMap) {
                                <ol>@header._1: @header._2</ol>
                            }
                        </ul>
                    </div>
                </div>

                <div class="request-body panel panel-default">
                    <div class="panel-heading">Body</div>
                    <div class="panel-body">
                    @if(documentation.proxyRequest.body) {
                        <pre>
                        @documentation.proxyRequest.body
                        </pre>
                    } else {
                        <p class="text-center"><em>empty</em></p>
                    }
                    </div>
                </div>

            </section>

        </div>

    </main>
</body>

