@import model._
@import views.AttributeHelper

@(representation: Representation, hierarchie: Int)

<section id="relations" class="panel-group">
    <h@hierarchie id="relations-title-@representation.id">Relations</h@hierarchie>
    @for(relation <- representation.relations) {
        <div class="relation panel panel-default">
            <div class="panel-heading">@relation.key</div>
            <div class="panel-body">
                <dl class="dl-horizontal">
                    <dt>Relation</dt>
                    <dd>@relation.key</dd>
                    <dt>Uri</dt>
                    <dd><a href=@relation.uri>@relation.uri</a></dd>
                    @if(relation.description) {
                        <dt>Description</dt>
                        <dd>@relation.description</dd>
                    }
                </dl>
            </div>
        </div>
    }
</section>

<section id="attributes" class="panel-group">
    <h@hierarchie id="attributes-title-@representation.id">Attributes</h@hierarchie>
    <div class="relation panel panel-default">
        <div class="panel-body">
        @if(representation.attributes) {
            @Html(AttributeHelper.renderAttribute(representation.attributes.get))
        } else {
            <p class="text-left"><em>none</em></p>
        }
        </div>
    </div>
</section>


<section id="entities" class="panel-group">
    <h@hierarchie id="entities-title-@representation.id">Embedded Entities</h@hierarchie>
    <div class="relation panel panel-default">
        <div class="panel-body">
            @if(representation.embeddedRepresentations.isEmpty){
                <p class="text-left"><em>none</em></p>
            }
        @for(pair <- representation.embeddedRepresentations) {
            @for(embeddedRepresentation <- pair._2) {
                <h@{hierarchie + 1} id="entity-title-@embeddedRepresentation.id" class="page-header">@{pair._1.capitalize} @embeddedRepresentation.name </h@{hierarchie + 1}>
                @this(embeddedRepresentation, hierarchie + 2)
            }
        }
        </div>
    </div>
</section>
