@import services.Representation
@(representation: Representation)

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Docster - @representation.name</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    </head>
</html>
<body>

    <main class="container">
        <section id="overview">
            <h1 id="overview-title" class="page-header">@representation.name Resource</h1>
        </section>

        <section id="relations" class="panel-group">
            <h2 id="relations-title">Relations</h2>
            @for(relation <- representation.navigations) {
                <div class="relation panel panel-default">
                    <div class="panel-heading">@relation.key</div>
                    <div class="panel-body">
                        <dl class="dl-horizontal">
                            <dt>Relation</dt>
                            <dd>@relation.key</dd>
                            <dt>Uri</dt>
                            <dd><a href=@relation.uri>@relation.uri</a></dd>
                            @if(relation.description) {
                                <dt>Description</dt>
                                <dd>@relation.description</dd>
                            }
                        </dl>
                    </div>
                </div>
            }
        </section>

    </main>
</body>

